<div class="youtubeAgreement" data-flag="iframe" data-replace="" data-id="">
    <div class="youtubeAgreementInner">
        <div class="youtubeAgreementIcon">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </div>
        <div class="youtubeAgreementText">
            <p>
                Das Video wird erst nach dem Klick von Youtube geladen und abgespielt. 
                Dazu baut ihr Browser eine direkte Verbindung zu den Youtube-Servern auf. 
                Mehr Informationen entnehmen Sie unserer <a class="youtubeAgreementDatenschutzlink" href="">Datenschutzerklärung</a>.
            </p>
        </div>
    </div>
</div>

<!-- NEED: data-replace, data-id, pplink -->