<f:if condition="{no-replace} == 1">
    <f:then>
        {data-replace -> f:format.raw()}
    </f:then>
    <f:else>
        <f:if condition="{data-origin} == 'ytcontent'">
            <f:then>
                <div class="responsiveYoutube" data-gradient="{overlay-gradient}">
                    <f:if condition="{backgroundImageUid}">
                        <f:then>
                            <div class="yt-agreement" data-flag="iframe" data-replace='{data-replace -> f:format.raw()}' style="background-image: url({f:uri.image(src:'{backgroundImageUid}',treatIdAsReference:'1')});">
                        </f:then>
                        <f:else>
                            <div class="yt-agreement" data-flag="iframe" data-replace='{data-replace -> f:format.raw()}'>
                        </f:else>
                    </f:if>
                        <div class="yt-agreement-inner">
                            <div class="yt-agreement-icon">
                                <svg class="yt-agreement-icon-inner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/></svg>
                            </div>
                            <div class="yt-agreement-text">
                                <p>
                                    <f:if condition="{rawMessage}">
                                        <f:then>
                                            {rawMessage -> f:format.raw()}
                                        </f:then>
                                        <f:else>
                                            <f:if condition="{linkedMessage}">
                                                <f:then>
                                                    <f:if condition="{linkedBefore}">
                                                        {linkedBefore -> f:format.raw()}
                                                    </f:if>
                                                    {linkedMessage -> f:format.raw()}
                                                    <f:if condition="{linkedAfter}">
                                                        {linkedAfter -> f:format.raw()}
                                                    </f:if> 
                                                </f:then>
                                                <f:else>
                                                        Das Video wird erst nach dem Klick von Youtube geladen und abgespielt. 
                                                        Dazu baut ihr Browser eine direkte Verbindung zu den Youtube-Servern auf. 
                                                        Mehr Informationen entnehmen Sie unserer <f:link.page pageUid="{privacyPageUid}" class="yt-agreement-link">Datenschutzerklärung</f:link.page>.
                                                </f:else>
                                            </f:if>
                                        </f:else>
                                    </f:if> 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </f:then>
            <f:else>
                <div class="yt-agreement" data-flag="iframe" data-replace='{data-replace -> f:format.raw()}' style="background-image: url({data-placeholder-bg});">
                    <div class="yt-agreement-inner">
                        <div class="yt-agreement-icon">
                            <svg class="yt-agreement-icon-inner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/></svg>
                        </div>
                        <div class="yt-agreement-text">
                            <p>
                                <f:if condition="{rawMessage}">
                                    <f:then>
                                        {rawMessage -> f:format.raw()}
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{linkedMessage}">
                                            <f:then>
                                                <f:if condition="{linkedBefore}">
                                                    {linkedBefore -> f:format.raw()}
                                                </f:if>
                                                {linkedMessage -> f:format.raw()}
                                                <f:if condition="{linkedAfter}">
                                                    {linkedAfter -> f:format.raw()}
                                                </f:if> 
                                            </f:then>
                                            <f:else>
                                                    Das Video wird erst nach dem Klick von Youtube geladen und abgespielt. 
                                                    Dazu baut ihr Browser eine direkte Verbindung zu den Youtube-Servern auf. 
                                                    Mehr Informationen entnehmen Sie unserer <f:link.page pageUid="{privacyPageUid}" class="yt-agreement-link">Datenschutzerklärung</f:link.page>.
                                            </f:else>
                                        </f:if>
                                    </f:else>
                                </f:if> 
                            </p>
                        </div>
                    </div>
                </div>
            </f:else>
        </f:if>
    </f:else>
</f:if>